<div *ngFor="let kpi of kpis">	
    <h4>KPI: {{kpi.kpi_name}}</h4>
    <div *ngFor="let chart of kpi.versions; let i = index; let l = last;">
        <div class="col col-sm-6" [style.float]="(i%2==0 || i==l)?'left':'right'">
            <ba-card cardTitle="Chart type: {{chart}}">
                <div class="card-block">
                    <div *ngIf="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]">
                        <!-- <div class="breadcrumb">
                            <li class="breadcrumb-item" *ngFor="let drill of kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._drilldowns; let last = last">
                                <i>{{drill}}</i> 
                            </li>
                        </div> -->
                        <form class="form-inline my-2 my-lg-0" style="float: right">
                            <md-select placeholder="Timeline" [(ngModel)]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue" (ngModelChange)="selection($event,kpi.kpi_name+'-'+chart)" name="option">
                            <md-option>None</md-option>
                            <md-option *ngFor="let option of options" [value]="option">{{option.value}}</md-option>
                            </md-select>
                            <div *ngIf="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue && kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue.id===1">
                                <md2-datepicker name="mon"
                                placeholder="Select Month"
                                [(ngModel)]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._mon"
                                [required]="true"
                                (onOpen)="setGlobalMaxDate()"
                                [max]="MAX_DATE"
                                type="month"
                                startView="month"
                                format="MMM y"
                                touchUi = false
                                #monthControl="ngModel"
                                (change)="update($event,kpi.kpi_name+'-'+chart)"
                                ></md2-datepicker>
                            </div>
                            <div *ngIf="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue && kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue.id===2">
                                <md2-datepicker name="sDate"
                                placeholder="Start Date"
                                [(ngModel)]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._sDate"
                                [required]="true"
                                (onOpen)="setGlobalMaxDate()"
                                [max]="MAX_DATE"
                                type="date"
                                startView="month"
                                format="d MMMM yy"
                                touchUi = true
                                #sdateControl="ngModel"
                                (change)="setMaxDate(kpi.kpi_name+'-'+chart)"></md2-datepicker>
                            </div>
                            <div *ngIf="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue && kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._selectedvalue.id===2">
                                <md2-datepicker name="eDate"
                                placeholder="End Date"
                                [(ngModel)]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._eDate"
                                [required]="true"
                                (onOpen)="setGlobalMaxDate()"
                                type="date"
                                touchUi = true
                                startView="month"
                                format="d MMMM yy"
                                [min]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._sDate"
                                [max]="kpilist[kpi.kpi_name][kpi.kpi_name+'-'+chart]._maxDate"
                                #edateControl="ngModel"
                                (change)="update($event,kpi.kpi_name+'-'+chart)"></md2-datepicker>
                            </div>
                        </form>
                    </div>
                    <ul>
                        <li *ngFor="let d of divisions">{{d.name}}</li>
                    </ul>
                    <div id="{{kpi.kpi_name+'-'+chart}}"></div>
            </div>
        </ba-card>
        </div>
    </div>
</div>